html,body{
  min-width: 100%;
}
html{
  width: 100%;
}

*{
  padding: 0;
  margin: 0;
  width: 100%;
  color: #662700;
  font-family: "BIZ UDPゴシック";
  font-size: 1.6rem;
}

body{
  letter-spacing: 1.5px;
  background-color: #624635;
}

a{
  text-decoration: none;
}

iframe{
    overflow:hidden;
    height: 100%;
    width: 100%;
    min-width: 900px;
}

img{
  object-fit: cover;
}

header::after{
  position: absolute;
  content: "";
  width: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 150;
}

#header{
  background-color: #624635;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 100;
  display: block;

}

h1,h1 span{
  background-color: #fff;
  font-size: 4vw;
  letter-spacing: 11px;
  text-align: center;
  z-index: 200;
  position: relative;
}

.menu{
  width: 80%;
  text-align: center;
  position: relative;
  height: 20px;
  margin: 20px auto 20px auto;
  bottom: 0;
  z-index: 200;
}
 .menu ul{
   display: inline-flex;
 }
ul li{
  float: left;
  list-style:none;
  text-decoration: none;
}

.menu a{
  position: relative;
  color: #fff;
}

.menu a::after{
  content: "";
  background-color: #fff;
  position: absolute;
  display: inline-block;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 1px;
  transition: 0.3s;
}

.menu a:hover::after{
  width: 100%;
}


.main{
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 30px 20px;
  border-radius: 30px;
  background-color: #fff;
}
.main-ttl{
  font-size: 5vw;
  margin: 30px auto 50px;
  text-align: center;
}

.mailform-container{
  width: 80%;
  margin: 0 auto;
  border-radius: 30px;
}

.form-item{
  width: 400px;
}
input,select{
  margin-bottom: 40px;
}

input[type="radio"]{
  width: 30px;

}

textarea{
  height: 100px;
  margin-bottom: 30px;
}

#submit{
  background-color: #009d9f;
  color: #fff;
  width: 50%;
  height: 40px;
  border-radius: 20px;
  border: none;

}
